<mat-toolbar style="background-color: #0f0e17;">
  <button routerLink="" class="cta-button2">Regresar</button>
</mat-toolbar>

<div class="login-container">
  <div class="welcome-section">
    <h1>¡Bienvenido/a!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="learn-more-btn">Learn More</button>
  </div>
  
  <div class="form-overlay">
    <div class="form-section">
      <h2>Iniciar sesión</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field  class="full-width custom-input">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Ingresa tu correo" required>
        </mat-form-field>
        <mat-form-field  class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Ingresa tu contraseña" required>
        </mat-form-field>
        <button class="cta-button" type="submit">Iniciar sesión</button>

        <div class="forgot-password-link">
          <a (click)="openForgotPasswordDialog()">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</div>