.home-container {
  margin: 0;
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at center, rgba(15, 14, 23, 0.8), rgba(15, 14, 23, 1));
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  justify-content: center; /* Alinea el contenido en la parte superior */
  align-items: center;
  color: white;
  
}

.header {
  margin-bottom: 2rem;
  text-align: center; /* Centra el texto del header */
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #fffffe;
}

.header p {
  font-size: 1.2rem;
  color: #a7a9be;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem; /* Espacio entre el header y el main-content */
}

.text-overlay {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}

.text-overlay h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fffffe;
}

.text-overlay p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #a7a9be;
}

.cta-button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #fffffe;
  background-color: #ff8906;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}