<div class="home-container">
	
	<div class="header">
	  <h1>Lámparas Conectadas</h1>
	  <p>Conectando personas a través de la luz</p>
	</div>
  
	<div class="main-content">
	 
		<div class="text-overlay">
		  <h2>¿Cómo funciona?</h2>
		  <p>
			Nuestras lámparas inteligentes utilizan el protocolo MQTT para conectarse y permitir la comunicación entre personas de manera única y luminosa.
		  </p>
		  <button mat-flat-button routerLink="sign-up" class="cta-button">Conectar Ahora</button>
		</div>
	  
	</div>
	
  </div>