/* Estilo base para centrar el formulario */
.container {
    display: flex;
    flex-direction: column; /* Alinea los elementos del formulario verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    height: 100vh; /* Toma el 100% de la altura de la ventana */
    background: radial-gradient(circle at center, rgba(15, 14, 23, 0.8), rgba(15, 14, 23, 1));
    min-width: 100%;
  
  }
  
  form {
    width: 100%;
    text-align: center;
    max-width: 400px; /* Define un ancho máximo para el formulario */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffffe;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .cta-button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: #fffffe;
    background-color: #ff8906;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }


  .cta-button2 {
    padding: 0.8rem 2rem;
    font-size: clamp(0.875rem, 2vw, 1rem);
    color: #fffffe;
    background-color: #673ab7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .cta-button2:hover {
    background-color: #0056b3;
  }
  
  
  .form-overlay {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }