<mat-toolbar color="primary" class="footer">
    <span>&copy; 2025 My App - Todos los derechos reservados</span>
    
    <span class="example-spacer"></span>
    <a mat-icon-button href="https://facebook.com" target="_blank" aria-label="Facebook">
      <mat-icon>facebook</mat-icon>
    </a>
    <a mat-icon-button href="https://twitter.com" target="_blank" aria-label="Twitter">
      <mat-icon>twitter</mat-icon>
    </a>
    <a mat-icon-button href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
      <mat-icon>linkedin</mat-icon>
    </a>
  </mat-toolbar>
  
