<h2 mat-dialog-title class="recovery-modal-title">Recuperar contraseña</h2>
<mat-dialog-content class="recovery-modal-content">
    <form [formGroup]="recoverForm" (ngSubmit)="sendRecoveryEmail()" class="recovery-form">
        <mat-form-field appearance="fill" class="recovery-form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Ingresa tu correo" class="recovery-input">
        </mat-form-field>
      </form>
</mat-dialog-content>
<mat-dialog-actions class="recovery-modal-actions">
  <button  class="recovery-cancel-btn">Cancelar</button>
  <button   (click)="sendRecoveryEmail()" class="recovery-submit-btn">Enviar</button>
</mat-dialog-actions>