<div class="login-container">
    <div class="form-overlay">
      <div class="form-section">
        <h2>Restablecer contraseña</h2>
        <p>Ingresa el PIN que recibiste en tu correo y tu nueva contraseña</p>
        
        <form [formGroup]="resetForm" class="login-form">
          <mat-form-field  class="custom-input full-width">
            <mat-label>PIN de 6 dígitos</mat-label>
            <input matInput formControlName="token" type="text" maxlength="6" required>
            <mat-error *ngIf="resetForm.get('token')?.hasError('required')">
              El PIN es requerido
            </mat-error>
            <mat-error *ngIf="resetForm.get('token')?.hasError('pattern')">
              El PIN debe tener 6 dígitos
            </mat-error>
          </mat-form-field>
  
          <mat-form-field  class="custom-input full-width">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput formControlName="newPassword" type="password" required>
            <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">
              La contraseña es requerida
            </mat-error>
            <mat-error *ngIf="resetForm.get('newPassword')?.hasError('minlength')">
              Mínimo 8 caracteres
            </mat-error>
          </mat-form-field>
  
          <mat-form-field  class="custom-input full-width">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required>
            <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
              Confirma tu contraseña
            </mat-error>
            <mat-error *ngIf="resetForm.hasError('mismatch')">
              Las contraseñas no coinciden
            </mat-error>
          </mat-form-field>
  
          <button 
            class="cta-button"
            [disabled]="resetForm.invalid"
            (click)="resetPassword()">
            Restaurar
          </button>
        </form>
      </div>
    </div>
  </div>