<mat-toolbar style="background-color: #0f0e17; color: #fffffe;">
    <span>Dashboard</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" (click)="drawer.toggle()">Open</button>
    <button mat-flat-button color="secundary" (click)="quick_session()">Salir</button>
  </mat-toolbar>

<mat-drawer-container class="example-container" autosize >
    <mat-drawer #drawer class="example-sidenav" mode="side" style="background-color: #0f0e17; color: #fffffe;">
      <p>Seleccione una opción:</p>
      <div class="button-drawer-container"> 
        <button  class="cta-button" (click)="selectedContent = 'config'" >Configuración</button>
        <button  class="cta-button" (click)="selectedContent = 'tabla1'" >Dispositivos</button>
        <button  class="cta-button" (click)="selectedContent = 'tabla2'" >Conexiones</button>
    </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        
        <ng-container *ngIf="selectedContent === 'tabla1'">
            <app-device></app-device>
        </ng-container>
        
        <ng-container *ngIf="selectedContent === 'tabla2'">
            <app-user-conection></app-user-conection>
        </ng-container>
        
        <ng-container *ngIf="selectedContent === 'config'">
            <app-user-config></app-user-config>
        </ng-container>
        
    </div>
  
  </mat-drawer-container>
  